@clr-seal: #333638;
@clr-whale: #777071;
@clr-budgie: #8dc1d4;
@clr-dove: #f1f0f0;
@clr-kingfisher: #179fd6;
@clr-frog: #1fc773;
@clr-canary: #e4c207;
@clr-ladybug: #e86422;

@clr-primary: @clr-kingfisher;
@clr-primary: rgb(146, 40, 58);
@clr-text: @clr-seal;
@clr-border: rgba(0,0,0,0.15);

@clr-headerBg: #fff;
@clr-headerText: @clr-text;